*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
header{
    height: 674px;
        
}
nav{
    margin: 12px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
}
nav a{
    color: #000;
    font-size: 12px;
    text-decoration: none;
    margin-right: 32px;

}
/* button */

.btn{
    width: 146px;
    height: 34px;
    color: #FFFFFF;
    background-color: #30b868;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
div .banner-btn{
    width: 173px;
    height: 19px;
    font-size: 13px;
    color: #30B868;
    border-radius: 1000px;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
}
.banner-down .b-btn{
    width: 146px;
    height: 34px;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #FFFFFF;
}
.banner .banner-down{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.banner{
    
    width: 1264px;
    height: 500px;
    background-repeat: no-repeat;
   background: url("../assets/hero-bg.png");
   padding: 100px 20px;
   text-align: center;
}
.banner .banner-tittle h1{
    color: #FFFFFF;
    font-size: 62px;
    margin-bottom: 16px;
}
.banner .banner-tittle .color{
    color: #30B868;
}
.banner .banner-tittle p{
    color: #FFFFFF;
    font-size: 16px;
    margin-bottom: 15px;
}


