*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
header{
    height: 674px;
        
}
nav{
    margin: 12px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
}
nav a{
    color: #000;
    font-size: 12px;
    text-decoration: none;
    margin-right: 32px;

}
/* button */

.btn{
    width: 146px;
    height: 34px;
    color: #FFFFFF;
    background-color: #30b868;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.btn:hover{
    color: black;
    background: lightgreen;
    font-size: 16px;
}
div .banner-btn{
    width: 173px;
    height: 19px;
    font-size: 13px;
    color: #30B868;
    border-radius: 1000px;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
}
div .banner-btn:hover{
    color: black;
    background: lightgreen;
    font-size: 12px;
}
.banner-down .b-btn{
    width: 146px;
    height: 34px;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #FFFFFF;
}
.banner-down .b-btn:hover{
    color: black;
    background: lightgreen;
    font-size: 16px;
}
.banner .banner-down{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.banner{
    
   background-repeat: no-repeat;
   background: url("../assets/hero-bg.png");
   padding: 100px 20px;
   height: 600px;
   text-align: center;
   background-position: center;
   background-size: cover;
}
.banner .banner-tittle h1{
    color: #FFFFFF;
    font-size: 62px;
    margin-bottom: 16px;
}
.banner .banner-tittle .color{
    color: #30B868;
}
.banner .banner-tittle p{
    color: #FFFFFF;
    font-size: 16px;
    margin-bottom: 15px;
}

.problem{
    padding: 80px 120px;
    text-align: center;
    height: 380px;
}
.problem h2{
    font-size: 40px;
    margin-bottom: 16px;
}
.problem p{
    font-size: 12px;
    margin-bottom: 44px;
}
.problem .problem-box{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400px;
}

.card img{
    background-color: red;
    border-radius: 50px;
}
.card h4{
    margin-bottom: 16px;
}
.card p{
    font-size: 12px;
    text-align: center;
}
.card{
    padding: 30px;
    gap: 12px;
    border-radius: 8px;
    background: #f9fafb;
    box-shadow: 0px 0px 8px 0px gray;
}

.solution{
    margin: 120px;
    padding: 80px 20px;
    background: #f9fafb;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: 360px;    
}
.solution-img img{
    width: 400px;
    height: 400px;
}
.solution-text .up-p{
    font-size: 10px;
    color: #30B868;
    margin-bottom: 16px;
}
.solution-text h2{
    font-size: 35px;
    margin-bottom: 16px;
}
.solution-text p{
    font-size: 12px;
    margin-bottom: 40px;
}
.solution-text ul{
    list-style: none;
    font-size: 16px;
}

.cta{
    padding: 80px 20px;
    margin: 0 120px 120px 120px;
    text-align: center;
    background: #F7F6F2;
}
.cta h2{
    font-size: 26px;
    margin-bottom: 16px;
}
.cta p{
    font-size: 12px;
    margin-bottom: 16px;
}
.cta .btn{
    margin-bottom: 20px;
}
.footer {
    background: #000000;
    padding: 20px 0;
}

.footer-box{
    width: 90%;
    height: 220px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    font-size: 14px;
}
.logo img {
    height: 40px;
}
.social a{
    color: #fff;
    margin-left: 10px;
    text-decoration: none;
}
